@page
<div class="text-center">
<h1 class="display-2 text-center">Welcome to college Monitor</h1>
<img src="/images/image.png" alt="CollegeMonitor" height="500px" width="850px" class="center-image"/>
</div>


